* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
}

.input-group {
    margin-bottom: 30px;
    text-align: left;
}

label {
    font-size: 22px;
    color: #fff;
    display: block;
    margin-bottom: 15px;
}

input[type="date"] {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

button {
    background: linear-gradient(45deg, #ff7f00, #ff5500, #ff7f00);
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: transform 0.5s ease;
    z-index: -1;
}

button:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

button:hover {
    background: linear-gradient(45deg, #ff5500, #ff7f00, #ff5500);
    transform: scale(1.05);
}

button:active {
    background: linear-gradient(45deg, #ff4500, #ff7f00, #ff4500);
    transform: scale(0.95);
}

.result {
    margin-top: 30px;
    font-size: 24px;
    color: #fff;
}

#age {
    font-weight: bold;
    color: #ff7f00;
}